html{
   
}
body{
    background-color:white;
    color: black;
    ma
    

}

/*Styling the header content */
.header{
    background-color:white;
    display:flex;
    height: 64px;

    
}

.header-content{
    display: flex;
    flex-grow: 1;
    margin-left: 24px;
    align-self: center;
}

.header-content span{
    color: grey;
}

.header-nav{
    align-self: center;
    margin-right: 24px;
}
.header-nav a{
    text-decoration: none;
    color:black;
    font-size: 16px;
}
 
/* styling main content */
.main-content-1{
    background-color: gray;
    display: flex;
    margin-bottom: 32px;

}
.main-content-1 #image{
    margin-bottom:32px;
    margin-left:24px;
    width:60%;
    

}
.image-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:24px;

}
.image-content button{
    padding:8px 0px;
}


/* Styling main content 2 */
.main-content-2{
    display: flex;
    align-items: flex-start;
    
    

}
.image-container-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:24px;
    width:60%;
}
.right-column{
    margin-left: 24px;
    justify-content: center;
   

}
#img{
 
    
}
.contentbox {
    text-align: center;
    width:65%;
}

.box1{
    display: flex;
   
  
   
 
    
}
.picturebox{
    
    
    
}


